In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import zipfile
import io

# Define the data types for each column (if known)
dtypes = {
    'Date Time': 'str',
    'Kilowatt Hour per Half Hour': 'float'
}

# Use the 'nrows' parameter to only read a subset of the data
df = pd.read_csv('ultraspeed.zip', compression='zip', dtype=dtypes)

# Continue with your data processing...

In [2]:
df.head()

       LCLid stdorToU                     DateTime KWH/hh (per half hour)
0  MAC000002      Std  2012-10-12 00:30:00.0000000                      0
1  MAC000002      Std  2012-10-12 01:00:00.0000000                      0
2  MAC000002      Std  2012-10-12 01:30:00.0000000                      0
3  MAC000002      Std  2012-10-12 02:00:00.0000000                      0
4  MAC000002      Std  2012-10-12 02:30:00.0000000                      0

unique_values_col1 = df.iloc[:, 0].unique()
unique_values_col2 = df.iloc[:, 1].unique()

print("Unique values of column 1:", unique_values_col1)
print("Unique values of column 2:", unique_values_col2)

print(len(unique_values_col1))

In [3]:
# Convert the 'Date Time' column to datetime
df['DateTime'] = pd.to_datetime(df['DateTime'])

# Set the 'Date Time' column as the index
#df.set_index('DateTime', inplace=True)

#drop first 2 columns
df = df.drop(df.columns[[1]], axis=1)

In [4]:
df.head()

       LCLid            DateTime KWH/hh (per half hour)
0  MAC000002 2012-10-12 00:30:00                      0
1  MAC000002 2012-10-12 01:00:00                      0
2  MAC000002 2012-10-12 01:30:00                      0
3  MAC000002 2012-10-12 02:00:00                      0
4  MAC000002 2012-10-12 02:30:00                      0

In [5]:
df.head()

#rename the second column to kwh
df = df.rename(columns={df.columns[1]: 'kwh'})

In [6]:
df.head()

       LCLid                 kwh KWH/hh (per half hour)
0  MAC000002 2012-10-12 00:30:00                      0
1  MAC000002 2012-10-12 01:00:00                      0
2  MAC000002 2012-10-12 01:30:00                      0
3  MAC000002 2012-10-12 02:00:00                      0
4  MAC000002 2012-10-12 02:30:00                      0

In [7]:
#rename the colums to lc,time, kwh
df.columns = ['lc', 'time', 'kwh']

In [8]:
# Convert the 'Kilowatt Hour per Half Hour' column to numeric
df['kwh'] = pd.to_numeric(df['kwh'],errors="coerce")

In [9]:


# Assuming df is your DataFrame and 'llcid' is a column with different categories
unique_llcids = df['lc'].unique()

fig, axs = plt.subplots(len(unique_llcids), 1)

for i, llcid in enumerate(unique_llcids):
    subset = df[df['lc'] == llcid]
    axs[i].plot(subset['kwh'], subset['time'])  # Replace 'x' and 'y' with your actual column names
    axs[i].set_title(f'lc: {llcid}')

plt.tight_layout()
plt.show()

KeyboardInterrupt: