In [8]:
import pandas as pd
import matplotlib.pyplot as plt

#read the file
df = pd.read_csv('2012-2013 Solar home electricity data v2.csv')

# Convert 'date' column to datetime
# Convert 'date' column to datetime
df['date'] = pd.to_datetime(df['date'], dayfirst=True)

# Define the id_vars for the melt function
id_vars = ['Customer', 'Generator Capacity', 'Postcode', 'Consumption Category', 'date','Row Quality']

# Melt the DataFrame to have a single datetime column
df_melted = df.melt(id_vars=id_vars, var_name='time', value_name='consumption')



# Combine the 'date' and 'time' columns into a single 'datetime' column
df_melted['datetime'] = pd.to_datetime(df_melted['date'].dt.date.astype(str) + ' ' + df_melted['time'])


# Drop the separate 'date' and 'time' columns
df_melted.drop(['date', 'time'], axis=1, inplace=True)

# Set 'datetime' as the index
df_melted.set_index('datetime', inplace=True)

# Sort the DataFrame by 'datetime'
df_melted.sort_values('datetime', inplace=True)

In [9]:
# Drop the 'Row Quality' column
df_melted.drop('Row Quality', axis=1, inplace=True)
df_melted.head()

,Customer,Generator Capacity,Postcode,Consumption Category,consumption
datetime,,,,,
2012-07-01,102,2.0,2081,GC,0.113
2012-07-01,230,1.5,2305,GC,0.344
2012-07-01,230,1.5,2305,GG,0.000
2012-07-01,88,1.8,2290,GG,0.000
2012-07-01,88,1.8,2290,GC,0.142

In [10]:
#save the file
df_melted.to_csv('2012_melted.csv')